<!-- <p class="tablecaption">Furniture</p> -->
	<h3 class='pull-left'>Pinned Furniture</h3>
	<div class="table-container">
	<table id="furniture" class='table table-bordered table-hover table-condensed table-striped'>
		<tr>
			<th class="first"></th>
			<th>Title</th>
			<th>Pic</th>
			<th>Created On</th>
		</tr>
	{%if furniture|length != 0%}
		{%for f in furniture%}
				<tr>
					<td class="symbol first"><img src="{{STATIC_URL}}{{f.symbolPath}}"/></td>
					<td >{{f.title}}</td>
					<td><!--<div class="external-img"><img class="small-image" src="{{f.url}}"/><img class="big-image" src="{{f.url}}"/></div>-->
						{%for fp in f.furniturepic_set.all%}
							<div class="external-img"><img class="small-image" src="{{fp.url}}" />
							<img class="big-image" src="{{fp.url}}" /></div>
						{%endfor%}
					</td>
					<td>{{f.RCD}}</td>
				</tr>
		{%endfor%}
	{%else%}
		<td></td>
		<!--<td colspan="6" align="center">No data available</td>-->
	{%endif%}
	</table>
	<div class="pagination pull-right headeralign">
			<span class="step-links">
		        {% if furniture.has_previous %}
		            <span class="click" onClick="renderpage({{ furniture.previous_page_number }})">&lt;&lt;</span>
		        {% endif %}

		        <span class="current">
		            Page {{ furniture.number }} of {{ furniture.paginator.num_pages }}
		        </span>

		        {% if furniture.has_next %}
		        	<span class="click" onClick="renderpage({{ furniture.next_page_number }})">&gt;&gt;</span>
		        {% endif %}
	    	</span>
		</div>
	</div>
<script type="text/javascript">
	function renderpage(page){
		$.ajax({
			type: 'POST',
			url:'/dashboard/furniture/'+page,
			success: function(data){
				$('#furniture-container').empty().append(data)
			}
		})
	}
</script>