<div class="picker" id="furniture-picker">
	<div class="filter">
		<input type="text" class="search-filter" placeholder="Search Furnitures..."/>
		<div class="category-filter-wrapper">
			<label>Category</label>
			<select class="category-filter">
				<option value="all" default="default">All</option>
				{%if furnitures%}<option value="pin" class="pinned">Pinned</option>{%endif%}
				<option value="bathroom">Bathroom</option>
				<option value="bedroom">Bedroom</option>
				<option value="dining">Dining Room</option>
				<option value="hallways">Hallways</option>
				<option value="kitchen">Kitchen</option>
				<option value="living">Living Room</option>
				<option value="rec">Rec Room</option>
				<option value="study">Study</option>
			</select>
		</div>
	</div>
	<div class="list">

		{%for f in furnitures%}
			<div class="object" isFurniture="1" type="image" w="{{f.w}}" h="{{f.h}}" staticurl="{{STATIC_URL}}" path="{{f.symbolPath}}" search-filter-match="{{f.title}}" category-filter-match="pinned" search-filter="1" category-filter="1" mid="{{f.id}}">
				<img src="{{STATIC_URL}}{{f.symbolPath}}" />
				<p>{{f.title}}</p>
			</div>
		{%endfor%}

		{%for df in default_furnitures%}
			<div class="object" isFurniture="1" type="image" w="{{df.w}}" h="{{df.h}}" symbolid="{{df.symbolid}}" staticurl="{{STATIC_URL}}" path="image/furniture/symbol/{{df.symbolid}}.png" search-filter-match="{{df.searchtags}}" category-filter-match="{{df.category}}" search-filter="1" category-filter="1" title="{{df.title}}">
				<img src="{{STATIC_URL}}image/furniture/symbol/{{df.symbolid}}.png" />
				<p>{{df.title}}</p>
			</div>
		{%endfor%}

	</div>
</div>