{%load maintags%}
<div id="furniture-builder">

	<div class="top">
		<h1>Furniture Builder</h1>

		<input class="submit" type="button" value="Save"/>
	</div>

	<div class="body">
		<div id="picker-wrapper">
			<h2>What is it?</h2>
			{% FurniturePicker False %}
		</div>
		
		<div id="builder-form-wrapper">
			<h2>Furniture Details</h2>
			<div class="form-field">
				<label>Title</label>
				{{furniturebuilder.builderform.title}}
			</div>
			<div class="form-measure-group">
				<h3>Symbol</h3>
				<div id="symbol-scope-wrapper">
					<img id="symbol-scope" src=""/>
				</div>
				<div class="form-fields-wrapper">
					<div class="form-field">
						<label>Width (inches)</label>
						{{furniturebuilder.builderform.w}}
					</div>
					<div class="form-field">
						<label>Length (inches)</label>
						{{furniturebuilder.builderform.h}}
					</div>
				</div>
			</div>
		</div>
		
		<div id="builder-pics-wrapper">
		<h2>Pics</h2>
		{%if furniturebuilder.isPin%}
			<div id="pinpics">
				{%for picurl in furniturebuilder.picurls%}
				<div class="furniture-pic">
					<img src="{{picurl}}" />
					<div class="delete" onclick="$(this).parent().remove();">Delete</div>
				</div>
				{%endfor%}
			</div>
		{%else%}
			<p>TODO - form to upload pics</p>
			<div id="userpics">
				<p>TODO - list of pics from user</p>
			</div>
		{%endif%}
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){

	$("#furniture-picker .filter .search-filter").on("keyup", function(){
		var search_query = $(this).val().toLowerCase().replace(/^\s+|\s+$/g, '').replace(" ", "|");
		var objects_list = $("#furniture-picker .list .object");
		PickerFilter(search_query, objects_list, "search")
	});

	$("#furniture-picker .filter .category-filter").on("change", function(){
		var search_query = $(this).val().toLowerCase();
		var objects_list = $("#furniture-picker .list .object");
		if(search_query == "all"){
			objects_list.attr("category-filter", 1);
		}else{
			PickerFilter(search_query, objects_list, "category");
		}
	});

	$("#furniture-picker .object").on("click", function(){
		$("#symbol-scope").attr("src", "{{STATIC_URL}}" + $(this).attr("path")).attr("path", $(this).attr("path")); 
	});

	SetSymbolScope({{furniturebuilder.symbolid}});

	$("#furniture-builder .submit").on("click", function(){
		FurnitureBuilderSubmit({%if furniturebuilder.isPin%}true{%else%}false{%endif%});
		$(this).off("click").val("Saving...")
	});
})

function SetSymbolScope(symbolid){
	$("#furniture-picker .object[symbolid='"+symbolid+"']").trigger("click");
};

function PickerFilter(searchQuery, objectsList, filterType){
	var filterSetAttr = filterType + "-filter";
	var filterMatchAttr = filterType + "-filter-match";
	if(!searchQuery){
		objectsList.attr(filterSetAttr, 1);
	}else{
		objectsList.attr(filterSetAttr, 0);
		var re = new RegExp('.*('+searchQuery+').*','i');
		objectsList.each(function(){
			if(re.test($(this).attr(filterMatchAttr))){
				$(this).attr(filterSetAttr, 1);
			}
		});
	};
};

function FurnitureBuilderSubmit(isPin){

	var re_digits = /^\d+$/;
	var title = $("#id_title").val().replace(/^\s+|\s+$/g, '');
	var h = $("#id_h").val().replace(/^\s+|\s+$/g, '');
	var w = $("#id_w").val().replace(/^\s+|\s+$/g, '');

	var formdata = new FormData()
	formdata.append("title", $("#id_title").val());
	title != '' ? formdata.append("title", title) : formdata.append("title", "NO TITLE")
	re_digits.test(w) ? formdata.append("w", w) : formdata.append("w", 12)
	re_digits.test(h) ? formdata.append("h", h) : formdata.append("h", 12)
	
	formdata.append("symbolPath", $("#symbol-scope").attr("path"));
	formdata.append("url", "{{furniturebuilder.url}}");

	if(isPin){
		$("#pinpics .pinpic").each(function(){
			formdata.append("picurl", $("img", this).attr("src"));
		})
	} else{
		alert("NOT IMPLEMENTED")
		// formdata.append('file',$("#map-file")[0].files[0])
	}

	$.ajax({
		type:"POST",
		url: isPin ? "/pin/save/{{furniturebuilder.userid}}/{{furniturebuilder.ss}}" : "/furniture/new/{{furniturebuilder.userid}}",
		data:formdata,
		processData: false,
		contentType: false,
		success:function(data){
			SubmitHandler(data, isPin);
		}
	});
};

function SubmitHandler(data, isPin){
	$("#furniture-builder .body").empty().append(data);
	$("#furniture-builder .submit").val("Close").on("click", function(){
		if(isPin){
			window.top.document.getElementById('inpica-iframe').runtimeStyle.display='none';
		} else{
			$("#furniture-builder").remove();
		}
	});
};



</script>