<tr class="furnishing" furnishingid="{{furnishing.id}}" active="0">
	<td class="comment">{{furnishing.comment|default:"No Comment"}}</td>
	<td class="furnishing">{%if furnishing.jsonObjects%}<div class="furnishing-view" onclick="ViewFurnishing({{furnishing.id}});">View Furnishing</div><div class="furnishing-delete" onclick="DeleteFurnishing({{furnishing.id}});">Delete Furnishing</div><div class="furnishing-default" onclick="SetDefaultFurnishing({{furnishing.id}});">Set As Default</div>{%endif%}</td>
</tr>