<div class="picker" id="layout-picker">
	<div class="filter">
		<input type="text" class="name-filter" />
	</div>
	<div class="map">
		<input id="map-upload-control" type="button" value="Upload Floorplan" />
	</div>
	<div class="list">
		<div class="object" l="6" type="outerpath">
			<img src="{{STATIC_URL}}image/floorplan/symbol/ewall.jpg" />
			<p>Exterior Wall</p>
		</div>
		<div class="object" l="6" type="innerpath">
			<img src="{{STATIC_URL}}image/floorplan/symbol/ewall.jpg" />
			<p>Interior Wall</p>
		</div>
		<div class="object" w="6" h="2" type="outerarc">
			<img src="{{STATIC_URL}}image/floorplan/symbol/ewall.jpg" />
			<p>Exterior Arched Wall</p>
		</div>
	</div>
</div>