<div class="picker" id="layout-picker">
	<div class="filter">
		<input type="text" class="name-filter" placeholder="Search..." />
	</div>
	<div class="map">
		<div id="map-upload-control">Upload Floorplan Map</div>
		{%if floorplan.map%}<div id="map-remove-control">Remove</div>{%endif%}
	</div>
	<div class="list">
		<div class="object" l="6" type="outerpath">
			<img src="{{STATIC_URL}}image/floorplan/symbol/ewall.jpg" />
			<p>Exterior Wall</p>
		</div>
		<div class="object" l="6" type="innerpath">
			<img src="{{STATIC_URL}}image/floorplan/symbol/ewall.jpg" />
			<p>Interior Wall</p>
		</div>
		<div class="object" w="6" h="2" type="outerarc">
			<img src="{{STATIC_URL}}image/floorplan/symbol/ewall.jpg" />
			<p>Exterior Arched Wall</p>
		</div>
	</div>
</div>