<div id="map-uploader">
	<table id="map-uploader-top">
		<tr>
			<td class="Instructions">
				<h2>Instructions</h2>
				<p>1. Open your floorplan image file. 2. Click and drag a line tracing anything on the floorplan which you know the length of. 3. Enter the feet/inches of that line. 4. Submit</p>
				<input type="file" id="map-file" />
			</td>
			
			<td class="measure">
				<div class="measure-group">
					<label>Feet</label>
					<input type="number" class="feet" value="0" />
				</div>
				<div class="measure-group">
					<label>Inches</label>
					<input type="number" class="inches" value="0" />
				</div>
			</td>
			<td>
				<input id="map-uploader-submit" type="button" value="Submit" />
				<input id="map-uploader-cancel" type="button" value="Cancel" />
			</td>
		</tr>
	</table>
	<div id="map-uploader-canvas"></div>
</div>