<div id="map-uploader">
	<form method="post" action="/floorplan/map-upload/{{ floorplan.id }}" enctype="multipart/form-data">
		<input type="file" id="map-file" />
		<input type="number" class="feet" />
		<input type="number" class="inches" />
	</form>
		<input id="map-uploader-submit" type="button" value="Submit" />
	<div id="map-uploader-canvas"></div>
</div>

<script type="text/javascript">

$(document).ready(function(){

	var mapc = null;
	var mapfile = null;
	var map_canvas_width = 700;
	var map_canvas_height = null;

	$('#map-file').change(function(e){
		var file = e.target.files[0],
            imageType = /image.*/;

        if (!file.type.match(imageType)){
            alert("This is not an image file!");
        };

        var reader = new FileReader();
        reader.onload = mapFileOnload;
        reader.readAsDataURL(file);  
	});

	function mapFileOnload(e) {
		var img = new Image;
		img.src = e.target.result;

		map_canvas_height = (map_canvas_width*img.height)/img.width;
		mapc = new canvas({
			pixelsPerFoot: 10,
			w:map_canvas_width,
			h:map_canvas_height,
			panx:0,
			pany:0,
			xoffset:0,
			yoffset:525,
			id:"map-uploader-canvas"
		});
		mapc.init();
		mapc.addObjects([{type:"image",src:e.target.result, dim:{x:0,y:0,r:0,w:map_canvas_width/10, h:map_canvas_height/10}}], true, false)
		mapc.draw();
		mapc.ruler_set();

		mapfile = e.target.result;
    };

    $("#map-uploader-submit").on("click", function(){
    	//TODO: Check if file uploaded and ruler measurements are in
    	var rfeet = $("#map-uploader .feet").val();
    	var rinches = $("#map-uploader .inches").val();
    	var rmeasure = rfeet + (rinches/12);

    	var xmeasure = rmeasure*Math.sin(Raphael.rad(mapc.ruler.angle()));
    	var ymeasure = rmeasure*Math.cos(Raphael.rad(mapc.ruler.angle()));

    	var xratio = map_canvas_width/mapc.ruler.pixelLengthX();
    	var yratio = map_canvas_height/mapc.ruler.pixelLengthY();

    	var mapxmeasure = xratio*xmeasure;
    	var mapymeasure = yratio*ymeasure;

    	$.post('/floorplan/map-upload/{{floorplan.id}}',{file:mapfile, pixelsPerFoot:10}, MapUploadHandler);
    });

});//document.ready

function MapUploadHandler(data){
	alert(data);
};

</script>