{%load maintags%}	
	<h3 class='pull-left'> Comments on Other Floorplans</h3>
	<div class="table-container">
		<table id="mycomments" class='table table-bordered table-hover table-condensed table-striped'>
			<tr>
				<th class="first">Owner</th>
				<th class="first">Floorplan</th>
				<th>Comment</th>
				<th>Commented On</th>
			</tr>
		{%for c in mycomments%}
				<tr>
					<td class="first">{{c.floorplan.user}}</td>
					<td class="first"><a href="/floorplan/{{c.floorplan.id}}">{{c.floorplan.title}}</a></td>
					{%if c.comment|length < 100%}
						<td class="comment">{{c.comment}}</td>
					{%else%}
						<td class="comment">{{c.comment|slice:":100"}}...</td>
						<!--<div class="expanded_text" id="other{{c.id}}">{{c.comment}}</div>-->
					{% endif%}
					<td>{{c.RUD|timesince_threshold}}</td>
				</tr>
		{%endfor%}
		</table>
		<div class="pagination pull-right headeralign">
				<span class="step-links">
					{% if mycomments.paginator.num_pages != 1 %}
				        {% if mycomments.has_previous %}
				            <span class="click" onClick="renderpage({{ mycomments.previous_page_number }})">&lt;&lt;</span>
				        {% endif %}

				        <span class="current">
				            Page {{ mycomments.number }} of {{ mycomments.paginator.num_pages }}
				        </span>

				        {% if mycomments.has_next %}
				        	<span class="click" onClick="renderpage({{ mycomments.next_page_number }})">&gt;&gt;</span>
				        {% endif %}
			        {% endif %}
		    	</span>
		</div>
	</div>
	<script type="text/javascript">
	function renderpage(page){
		$.ajax({
			type: 'POST',
			url:'/dashboard/mycomments/'+page,
			success: function(data){
				$('#my-comments-container').empty().append(data)
			}
		})
	}
</script>