{%extends 'layout/master.html' %}
{%block title%}Confirm Account{%endblock%}
{%block head%}
<meta http-equiv="refresh" content="5;url=http://127.0.0.1:61002/">
{%endblock%}
{%block body%}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	
	{%if confirmed%}
	<h3>Welcome to Inpica!</h3>
	<p>Your account has been confirmed and activated. </p>
	{%else%}
	<h3>Uh-oh..</h3>
	<p>There was an error confirming your account, please try refreshing this page.</p>
	{%endif%}
	<p>If you are not redirected within a few seconds please click here: </p>
	<a href="/">Redirect to Inpica</a>
{%endblock%}