
<!-- REGISTRATION FORM  -->
<form id="createform" class="form-signin" method="post" action="">
<!-- <form id="createform" method="post" action=""> -->
	{%if create_errormsg%}
		<div>{{create_errormsg}}</div>
	{%endif%}
	{%csrf_token%}
	<table id="create-table">
		<tr><h3>Register</h3></tr>
		<tr><td class="createlabel">Username</td>
			<td>{{create_form.username}}</td><td class="createerror">{{create_form.username.errors}}</td>
		</tr>
		<tr><td class="createlabel">Email</td>
			<td>{{create_form.email}}</td>
			<td class="createerror">{{create_form.email.errors}}</td>
		</tr>
		<tr><td class="createlabel">Password</td><td>{{create_form.password}}</td>
			<td class="createerror">{{create_form.password.errors}}</td>
		</tr>
		<tr><td class="createlabel">Confirm Password</td>
			<td>{{create_form.passwordConfirm}}</td>
			<td class="createerror">{{create_form.passwordConfirm.errors}}</td>
		</tr>
		<tr><td colspan="3" class="buttondisplay">
			<a class="btn" href="javascript:void(0)" onclick="createuser();">Create</a>&nbsp;&nbsp;
			<a class="btn" href="javascript:void(0)" id="cancel" onclick="cancelOperation();">Cancel</a>

			<!-- <a class="loginbutton" href="javascript:void(0)" onclick="createuser();">Create</a>&nbsp;&nbsp;
			<a class="loginbutton" href="javascript:void(0)" id="cancel" onclick="cancelOperation();">Cancel</a> -->
		</td></tr>
	</table>
</form>
