
	<form id="loginform" method="post" action="" >

	{%csrf_token%}

	<!-- if username/ pass are wrong then red alert box appear -->
	<div>{%if login_errormsg != None%}</div>
	<div id="loginError" class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<span >{{ login_errormsg }}</span>
	</div>{%endif%}
	
	<div >
		<!-- if username is blank then red alert box appear -->
		<span>{{login_form.auth}}</span>{%if login_form.auth.errors%}
		<span id="blankUserErr" class="errormsg">{{login_form.auth.errors}}</span>{%endif%}
		<!-- if pass is blank then red alert box appear -->
		<span>{{login_form.password}}</span>
		<span id="blankPassErr" class="errormsg">{{login_form.password.errors}}</span>
		<!-- sign in and register buttons -->
		<a class="btn" href="javascript:void(0)" onclick="logincheck();">Sign in</a>
		<a class="btn" href="javascript:void(0)" id="register" onclick="popup();">Register</a>
	
	</div>
</form>