{%extends 'layout/master.html' %}
{%load maintags%}
{%block title%}Floorplan{%endblock%}
{%block head%}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css" />
{%endblock%}
{%block body%}
<!--  DASHBOARD BODY========================== -->
<div id='maincontainer' class='container container-fluid maincontainer push-down'>

	<div class="row-fluid">
		<!--2/3 content ==============================-->
		<div class="span8">
			<h1 class='page-header'>Dashboard</h1>
			<!-- FLOORPLANS	-->
			<div id="floorplan-container" class="outer-container">
				<h3 class='pull-left'>Floorplans</h3>
				<!-- create new plan form -->
				<form class='form-horizontal pull-right headeralign' method="post" action="/floorplan/new">
					{%csrf_token%}
					<div id="create" class='input-append'>
						<input id='new-floorplan' class='span8' type="text" name="title" placeholder="New floorplan name"/> 
						<input class='btn btn-info ' type="submit" value="Create" >
					</div>
				</form>
				<!-- view my floorplans table -->
				<div class="table-container">
					<table id="floorplans" class='table table-bordered table-hover table-condensed table-striped'>
						<tr class=''>
							<th>Title</th>
							<th>Created On</th>
							<th>Comment</th>
							<th>Commented On</th>
						</tr>
					{%for f,c in combined%}
							<tr>
								<td><a href="/floorplan/{{f.id}}">{{f.title}}</a></td>
								<td>{{f.RCD|timesince_threshold}}</td>
								{%if c != None%}
									{%if c.comment|length < 100%}
										<td class="comment">{{c.comment}}</td>
									{%else%}
										<td class="comment">{{c.comment|slice:":100"}}...</td>
									{%endif%}
									<td class="small pad">{{c.RCD|timesince_threshold}}</td>
								{%else%}
									<td class="comment"> No Comments</td>
									<td class="small pad"></td>
								{%endif%}
							</tr>
					{%endfor%}
					</table>
				</div>
			</div>
			<!--<div class="pagination_furniture">
				<span class="step-links">
			        {% if furniture.has_previous %}
			            <a href="?page_furniture={{ furniture.previous_page_number }}">previous</a>
			        {% endif %}

			        <span class="current">
			            Page {{ furniture.number }} of {{ furniture.paginator.num_pages }}.
			        </span>

			        {% if furniture.has_next %}
			            <a href="?page_furniture={{ furniture.next_page_number }}">next</a>
			        {% endif %}
		    	</span>
			</div>-->

			<!-- COMMENTS	-->
			<div id="my-comments-container" class="outer-container">
				{%MyCommentsDashboard 1%}
			</div>

		</div>
		<!--1/3 content ==============================-->
		<div class="span4">
			<!-- Bookmark	-->
			<div id="bookmark-container" class='well well-small smaller' >
				<h3 class="icon-circle-arrow-up "></h3>
				<div id="bookmarklets" class="outer-container pull-right alignheader" >
					<h3 >		
						<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://127.0.0.1:8000/bookmarklet/{{user.id}}/{{user.userdetails.bookmarkletss}}';})()"><i  class='icon-bookmark icon-3x'></i>Inpick-it</a>
					</h3>
				</div>
				
				<p>Drag the bookmark icon to your web browsers bookmarks bar to pick furniture while you browse. <a onClick="test()">Learn more.</a></p>
				
			</div>

			<!-- FURNITURE	 -->
			<div id="furniture-container" class="outer-container">
				{%FurnitureDashboard 1%}
			</div>
		</div>
	</div>

</div>
<div id="bookmarklet-learnmore">
	<div id="learnmore">
		Test data
	</div>
</div>
<script type="text/javascript">
function test(){
	/*$('#screen').css({'display': 'block', opacity: 0.7, 'width':$(document).width(),'height':$(document).height()});
    $('body').css({'overflow':'hidden'});*/
   	
	$('#screen').css({'display': 'block', opacity: 0.7, 'width':$(document).width(),'height':$(document).height()});
    $('body').css({'overflow':'hidden'});
    $('#bookmarklet-learnmore:hidden').css({'display': 'block'});
}
</script>
{%endblock%}