{%extends 'layout/master.html' %}
{%load maintags%}
{%block title%}Floorplan{%endblock%}
{%block head%}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css" />
{%endblock%}
{%block body%}
	<h1>Dashboard</h1>
	<form method="post" action="/floorplan/new">
		{%csrf_token%}
		<h2>New Floorplan</h2>
		<label>Title</label>
		<input type="text" name="title" />
		<input type="submit" value="Create" />
	</form>
	
	<div id="floorplan-container" class="outer-container">
		<p class="tablecaption">Floorplans</p>
		<div class="table-container">
			<table id="floorplans">
				<tr>
					<th>Title</th>
					<th>Creation On</th>
					<th>Updated On</th>
					<th>Width in Feet</th>
					<th>Breadth in Feet</th>
				</tr>
			{%for f in floorplans%}
					<tr>
						<td><a href="/floorplan/{{f.id}}">{{f.title}}</a></td>
						<td>{{f.RCD}}</td>
						<td>{{f.RUD}}</td>
						<td>{{f.mapxFeet}}</td>
						<td>{{f.mapyFeet}}</td>
					</tr>
			{%endfor%}
			</table>
		</div>
	</div>
	<!--<div class="pagination_furniture">
		<span class="step-links">
	        {% if furniture.has_previous %}
	            <a href="?page_furniture={{ furniture.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ furniture.number }} of {{ furniture.paginator.num_pages }}.
	        </span>

	        {% if furniture.has_next %}
	            <a href="?page_furniture={{ furniture.next_page_number }}">next</a>
	        {% endif %}
    	</span>
	</div>-->
	<div id="furniture-container" class="outer-container">
		{%FurnitureDashboard 1%}
	</div>

	<div id="comments-container" class="outer-container">
		{%CommentsDashboard 1%}
	</div>
{%endblock%}