{%extends 'layout/master.html' %}
{%load maintags%}
{%block title%}{{floorplan.title}}{%endblock%}
{%block body%}

	<style>
		body{
			position:relative;
			padding:0px;
			margin:0px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/floorplan.css"/>

	<div id="picker-wrapper">
		{%if isOwner%}
			<div id="picker-tab-layout" {%if not furnishing.jsonObjects%}active='1'{%endif%}>Layout</div>
			<div id="picker-tab-furniture" {%if furnishing.jsonObjects%}active='1'{%endif%}>Furniture</div>
		{%endif%}
		{%if isOwner %}
			{%include 'snippet/layout-picker.html'%}
		{%endif%}
		{% FurniturePicker True %}
	</div>

	<div id="map-uploader-wrapper">
		{%include 'snippet/map-uploader.html'%}
	</div>	

	<div id="canvas-wrapper">
		<div class="toolbar">
			<input id="data" type="button" value="data" />
			<div id="zoom"></div>
		</div>
		<div id="main-canvas">
		</div>
	</div>

	<script type="text/javascript">

		//data used in sourced javascript files

		var floorplan = {
			id:{{floorplan.id}},
			pixelsPerFoot:{{floorplan.scalePixelsPerFoot}},
			panx:{{floorplan.panX}},
			pany:{{floorplan.panY}},
		};

		var furnishing_data = {
			id:{{furnishing.id}},
			isEditable:{%if furnishing.user == user %}true{%else%}false{%endif%},
			objects:{{furnishing.jsonObjects|default_if_none:"null"|safe}}
		};

		var layout_data = {
			isEditable:{%if isOwner%}true{%else%}false{%endif%},
			map:{%if floorplan.map%}{
				type:"image",
				src:"{{floorplan.map.url}}",
				dim:{x:0, y:0, r:0, w:{{floorplan.mapxFeet}}, h:{{floorplan.mapyFeet}}}
			}{%else%}null{%endif%},
			objects:{{floorplan.jsonObjects|default_if_none:"null"|safe}}
		};

	</script>
	<script type="text/javascript" src="{{STATIC_URL}}js/floorplan.js"></script>

{%endblock%}