{%extends 'layout/master.html' %}
{%load maintags%}
{%block title%}{{floorplan.title}}{%endblock%}
{%block body%}

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/floorplan.css"/>

	<div id="picker-wrapper">
		{%if isOwner%}
			<div id='picker-tabs'>
				<div id="picker-tab-layout" ref="layout-picker" class="tab" {%if not furnishings %}active='1'{%endif%}>Layout</div>
				<div id="picker-tab-furniture" ref="furniture-picker" class="tab" {%if furnishings%}active='1'{%endif%}>Furniture</div>
			</div>
			{%include 'snippet/map-uploader.html'%}
			{%include 'snippet/layout-picker.html'%}
		{%endif%}
		{% FurniturePicker True %}
	</div>

	<div id="canvas-wrapper">
		<div class="toolbar">
			<div id="zoom"></div>
			<div id="clear-furnishing" class="tool"><span class="icon-remove icon"></span>Remove All Furnitures</div>
			<div id="undo-changes" class="tool"><span class="icon-undo icon"></span>Undo Changes to Furnshing</div>
		</div>
		<div id="main-canvas"></div>
		<div id="prop-wrapper"></div>
	</div>

	<div id="content-wrapper">

		<div id="ideapics">
			<h2>Idea Board</h2>
			<input type="file" id="ideapic-file" />
			<div id="ideapic-list">
				{%for ideapic in floorplan.ideapic_set.all %}
					{%include 'snippet/ideapic.html'%}
				{%endfor%}
			</div>
		</div>

		<div id="furnishings">

			<div id="add-furnishing-wrapper">

				<div id="add-furnishing-btn" active="0"><span class="text">Add Comment</span><span class="icon-chevron-down icon"></span></div>

				<div id="add-furnishing">
					<textarea class="comment" placeholder="Comment..."></textarea>
					<div id="furnishing-section">
						<p class="instructions">Add, remove and/or move furniture on the floorplan to save furnishing with comment.</p>
						<input type="text" class="title" placeholder="Furnishing Title..." />
					</div>
					<input id="submit-furnishing" type="button" value="Save" />
				</div>

			</div>

			<h2>{{user.username}}'s Comments &amp; Furnishings</h2>
			<table id="owner-furnishing-list" class="furnishing-list">
				{%for furnishing in furnishings %}{%if furnishing.user == floorplan.user%}
					{%include 'snippet/furnishing.html'%}
				{%endif%}{%endfor%}
			</table>
			<h2>Comments &amp; Suggested Furnishings</h2>
			<table id="user-furnishing-list" class="furnishing-list">
				{%for f in furnishings %}{%if f.user != floorplan.user%}
					{%include 'snippet/furnishing.html'%}
				{%endif%}{%endfor%}
			</table>
		</div>
	</div>

	<script type="text/javascript">

		//data used in sourced javascript files

		var floorplan = {
			isOwner:{%if isOwner%}true{%else%}false{%endif%},
			id:{{floorplan.id}},
			pixelsPerFoot:{{floorplan.scalePixelsPerFoot}},
			pan:{x:{{floorplan.panX}}, y:{{floorplan.panY}}},
			panOffset:{x:-600, y:-300},
			dropPoint:{x:1025, y:325}
		};

		var furnishing_data = [
			{%for f in furnishings%}
			{
				id:{{f.id}},
				isEditable:{%if f.user == user %}true{%else%}false{%endif%},
				isDefault:{%if f.isDefault%}true{%else%}false{%endif%},
				objects:{{f.jsonObjects|default_if_none:"null"|safe}}
			},
			{%endfor%}
		]

		var layout_data = {
			isEditable:{%if isOwner%}true{%else%}false{%endif%},
			map:{%if floorplan.map%}{
				type:"image",
				src:"{{floorplan.map.url}}",
				dim:{x:0, y:0, r:0, w:{{floorplan.mapxFeet}}, h:{{floorplan.mapyFeet}}}
			}{%else%}null{%endif%},
			objects:{{floorplan.jsonObjects|default_if_none:"null"|safe}}
		};

	</script>
	<script type="text/javascript" src="{{STATIC_URL}}js/floorplan.js"></script>

{%endblock%}