{%extends 'layout/master.html' %}
{%load maintags%}
{%block title%}Inpica{%endblock%}

{%block body%}
<!-- HOME PAGE  =========================================== -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css" />

<!-- CAROUSEL  =========================================== -->
<div id="myCarousel" class="carousel slide" data-pause="remove">
    <div class="carousel-inner">
      <div class="item active">
        <img src="{{ STATIC_URL }}image/home/homeImageBlue.jpg" class="">
          
        <div class="container">
          <div class="carousel-caption">
            <h1 class="">Inspiration for your home.
            </h1>
            <p class="lead">
              Turning your space into a home can be a hassle. Join us in making this a fun and natural experience for everyone involved. 
            </p>
            <a class="btn btn-large btn-primary " href="#">Try it now</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="{{ STATIC_URL }}image/home/carouselSectional.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>
              Another example headline.
            </h1>
            <p class="lead">
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
              elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
              vehicula ut id elit.
            </p>
            <a class="btn btn-large btn-primary btn-success" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="{{ STATIC_URL }}image/home/homeImageDesk.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>
              One more for good measure.
            </h1>
            <p class="lead">
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
              elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
              vehicula ut id elit.
            </p>
            <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div> 

<!--  MKTNG SECTIONS ===================================== -->
<div class="container marketing">
    <div class="row">
      <div class="span4">
        <img class="img-circle" data-src="holder.js/140x140">
        <i class="icon-wrench icon-4x"></i> 
        <h2>
          Build floor plan
        </h2>
        <p>Just upload an image of your floor plan or sketch it out using our drag and drop tool. its super simple and getting started will only take a few minutes! 
        </p>
        <!-- <p>
          <a class="btn" href="#">View details »</a>
        </p> -->
      </div>
      <!-- /.span4 -->
      <div class="span4">
        <img class="img-circle" data-src="holder.js/140x140">
      
        <i class="icon-ok-sign icon-4x"></i> 
        <h2>
          Pick furniture
        </h2>
        <p class="">Browse furniture websites and add them to your plan. Use our custom bookmark picker to save images with just 3 clicks.
        </p>
        <!-- <p>
          <a class="btn" href="#">View details »</a>
        </p> -->
      </div>
      <!-- /.span4 -->
      <div class="span4">
        <img class="img-circle" data-src="holder.js/140x140">
        <i class="icon-comments-alt icon-4x"></i> 
        <h2>
          Get suggestions
        </h2>
        <p>Feeling a little lost? get your friends (or your mom) involved! share your floor plans and get those awesome ideas all in one place.
        </p>
        <!-- <p>
          <a class="btn" href="#">View details »</a>
        </p> -->
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="featurette">
      <!-- <img class="featurette-image pull-right" src="./ideas/vidicon.png"> -->
      <div class="video">
          <iframe class="featurette-image pull-right"  src="http://player.vimeo.com/video/41619611?wmode=transparent" width="400" height="200" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen wmode="Opaque" style="margin: 0 auto; display: block"></iframe>
          </div>
      <h1 class="">
        Home design..
        <span class="muted">made easy</span>
      </h1>
      <p class="lead">
        Inpica is a collaborative web platform that re-imagines the way we go about arranging the spaces we live in. By combining the convenience of of virtual design tools and the collective experiences of friends and family, inspiration is only a few clicks away.

      </p>
    </div>
    <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left" src="{{ STATIC_URL }}image/home/placeholder2.png"/>
      <h1 class="">
        It's that good.
        <span class="muted">see for yourself.</span>
      </h1>
      <p class="lead">
        Never mind those paper cutouts and messy sketches. Whether you are moving or just plain redecorating, our tools let you dream it all up before you start shoving couches around. 
      </p>
    </div>
    <hr class="featurette-divider">
    <div class="featurette jetstrap-highlighted">
      <img class="featurette-image pull-right jetstrap-selected " src="{{ STATIC_URL }}image/home/placeholder.png">
      <!-- img-polaroid -->
      
      <h1>
        Try it..
        <span class="muted">its free!</span>
      </h1>
      <p class="lead">
        What have you got to lose! we promise not to spam your inbox and guarantee you will love putting your home together with Inpica. Registering will only take a minute then you can be on your way.
      </p>
    </div>
    <hr class="featurette-divider">
    <footer>
      <p class="pull-right">
        <a href="#">Back to top</a>
      </p>
      <p>
        © 2013 Inpica 
        <!-- <a href="#">Privacy</a>
        ·
        <a href="#">Terms</a> -->
      </p>
    </footer>
</div>

<!-- LOGIN SCRIPT  ======================================== -->
<script type="text/javascript">
  function logincheck(){
    var loginform = $('#loginform');
    $.ajax({
      'type':"POST",
      'url':'/home/login',
      'data': loginform.serialize(),
      'success':function(data){
        loginform.parent().empty().append(data);
        // loginform.remove().append(data);
      }
    })
  }

  function createuser(){
    var createform = $('#createform');
    $.ajax({
      'type':"POST",
      'url':'/home/create',
      'data': createform.serialize(),
      'success':function(data){
        createform.parent().empty().append(data);
      }
    })
  }

  function cancelOperation(){
    $('#createform-wrapper').find("input[type=text], textarea").val("");
    $('#createform-wrapper').find("input[type=password], textarea").val("");
    $('#createform-wrapper').css('display', 'none');$('#screen').css('display', 'none');
    $('body').css({'overflow':'visible'});
  }

  function popup(){
    $('#screen').css({'display': 'block', opacity: 0.7, 'width':$(document).width(),'height':$(document).height()});
    $('body').css({'overflow':'hidden'});
    $('#createform-wrapper').css({'display': 'block'});
    $('.errorlist').value='';
    $('.errorlist').each(function(i,obj){ $(this).remove()});
    $('.errormsg').each(function(i,obj){ $(this).remove()});
  }
</script> 
  
 
{%endblock%}