{%load maintags%}
<html>
<head>
	<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/floorplan.css"/>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/furniture-builder.css"/>

	<style type="text/css">
		body{
			position:relative;
			padding:0px;
			margin:0px;
			font-family: Helvetica;
		}

		#pin-wrapper{
			position: relative;
		}
	</style>
	
</head>
<body>
	<div id="pin-wrapper">
		{%include 'snippet/furniture-builder.html'%}
	</div>
</body>
</html>