/*#floorplan-container{
	width: 100%;
}*/

/*table{
	color:#666;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}*/

th{
	width: 200px;
}
td{
	width: 200px;
}

.first {
	width: 150px;
}

.small {
	width: 100px;
}

.adjust{
	width: 130px;
}

body {
	background: #e0e3ec url(../image/home/subtle_grunge.png) repeat top left;
}

p.tablecaption{
	font-size: 22px;
	text-shadow: 0px 1px 0px #ffffff;
	font-weight: bold;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-left: 30px;
}

th  {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px
}

tr:hover{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

/*#floorplans td{
	height:30px;
}*/
.external-img{
	position: relative;
	margin:0;
	width: 30px;
	float: left;
}

img.small-image{
	height:30px;
	width: 30px;
	position: relative;
}

img.big-image{
	display: none;
	height: 300px;
	position: absolute;
	z-index:100;
	max-width: none;
	right: 1px;
}

.external-img:hover img.big-image{
	display: block;
}

td.symbol img{
	height: 30px;
}

.pagination {
	font-size: 14px;
	text-shadow: 0px 1px 0px #ffffff;
	text-align: right;
	margin: 0px;
	display: block;
}

/*.table-container {
	margin: 0px 20px 20px 20px ;
}*/
.click {
	font-weight: bold;
	border-top: 1px solid #eee;
	-webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.click:hover{
	cursor: pointer;
	background: #e1e1e1;
    border-top: 1px solid #d0d0d0;
}

/*.outer-container{
}*/

.expanded_text{
	display: none;
	position: absolute;
	z-index: 100;
	width: 650px;
	/*background: yellow;*/
	left: 320px;

	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/*emboss effect*/
td{
	text-shadow: 0px 1px 0px #ffffff;
}

th{
	text-shadow: 0px 1px 0px #ffffff;
}

h3{
	text-shadow: 0px 1px 0px #ffffff;
}
/*end emboss effet */
.comment {
	width: 650px;
}

.blank{
	height: 17px;
	display: block;
}

.table{
	margin-bottom: 10px; /*remove the default 20 px by bootstrap */
}
/*added=========================*/
/*used to align page numbers with table header*/
.headeralign{ margin: 0px;margin-top: 3%;}
/*adjust size of bookmarklet well*/
.smaller{margin-bottom:0px; padding:10px}
/*bookmarklet icon position*/
#bookmarklets{color:#49afcd; position: fixed; top:25px; right:10%;}


/*learn more section*/
#bookmarklet-learnmore{
	position: fixed;
	top:20%;
	width:100%;
	height:500px;
	z-index: 100;
	display:none;
}

#learnmore{
	position: relative;
	width:800px;
	height: 400px;
	z-index:2;
	margin: 0 auto;
	background-color: white;
}
