#picker-wrapper{
	position:absolute;
	left:50px;
	top:125px;
	width:300px;
	height:450px;
	z-index:100;
}

#picker-tabs{
	height:30px;
	float:left;
}

#picker-tabs .tab{
	height:20px;
	padding:5px 20px;
	float:left;
	margin-right:5px;
	border-top:1px solid #c6d2de;
	border-left:1px solid #c6d2de;
	border-right:1px solid #c6d2de;
	background-color: #F1F4F6;
	color:#999;
}

#picker-tabs .tab[active="1"]{
	background-color: #FFF;
	color:#333;
}

#picker-tabs .tab[active="0"]:hover{
	cursor: pointer;
	background-color:#F8F4FD;
	color:#666;
}

#furniture-picker, #layout-picker{
	float:left;
	-moz-box-shadow: -4px 4px 9px #c6d2de;
	box-shadow: -4px 4px 9px #c6d2de;
	overflow: auto;
	background-color: #FFF;
	height:400px;
	width:300px;
	border-left:1px solid #c6d2de;
	display:none;
}

#layout-picker .filter, #layout-picker .map, #furniture-picker .filter{
	float:left;
	width: -webkit-calc(100% - 20px);
	width: calc(100% - 20px);
	clear: left;
	margin-left:20px;
	margin-top:10px;
}

#layout-picker .filter, #layout-picker .map{
	height:50px;
}

#furniture-picker .filter{
	height:100px;
}

#layout-picker .list, #furniture-picker .list{
	float:left;
	clear:left;
	overflow:auto;
	height:270px;
	width:100%;
}

#furniture-picker .list{
	height: 290px;
}

#picker-wrapper .object{
	display:none;
	height:90px;
}

#layout-picker .object[search-filter="1"], #furniture-picker .object[search-filter="1"][category-filter="1"]{
	display:block;
}

#picker-wrapper .object:hover{
	background-color: #464F58;
	cursor: pointer;
	-moz-box-shadow: 0px 0px 40px #DDD;
	box-shadow: 0px 0px 40px #DDD;
}

#picker-wrapper .object:hover p{
	color:#FFF;
}

#picker-wrapper .object img{
	max-width:80px;
	max-height:70px;
	float:left;
	margin:10px 30px 10px 20px;
}

#picker-wrapper .object p{
	padding: 20px;
	margin: 0px 0px 0px 140px;
	color:#666;
}

#picker-wrapper .filter input{
	padding:6px;
	width:240px;
}

#furniture-picker .filter select{
	width:193px;
}

#layout-picker .map div{
	float:left;
	padding:10px;
	height:20px;
	border: 1px solid #7497bc;
	font-size:14px;
}

#layout-picker .map #map-upload-control{
	background-color:#7497bc;
	color:#FFF;
}

#layout-picker .map #map-upload-control:hover, #layout-picker .map #map-remove-control:hover{
	background-color: #16579a;
	cursor: pointer;
	color:#FFF;
	border-color: #16579a;
}

#layout-picker .map div#map-remove-control{
	width:75px;
	color:#333;
}

#furniture-picker .filter .category-filter-wrapper label{
	color:#666;
	font-size:12px;
	padding-right:10px;
}

#furniture-picker .filter .category-filter{
	padding:5px;
	color:#666;
}

#furniture-picker .filter .category-filter .pinned{
	color:red;
}

#canvas-wrapper{
	position:absolute;
	top:100px;
	left:0px;
	width:100%;
	/*width: -webkit-calc(100% - 406px);
	width: calc(100% - 406px);*/
	height:500px;
	overflow: hidden;
	border-bottom: 1px solid #d1d1d1;
	-moz-box-shadow: 0px 4px 9px #c6d2de;
	/*box-shadow: 0px 4px 9px #c6d2de;*/
	box-shadow: 0px 200px 200px #7490ac;
	background-color: #f8f9fA;
	/*background-color: #F5F5F5;*/
}

#canvas-wrapper .toolbar{
	top:25px;
	left:375px;
	position: absolute;
	height:450px;
	width:50px;
	z-index: 100;
}

#canvas-wrapper .toolbar .tool{
	font-size: 8px;
	border:1px solid #CCC;
	background-color:#D1D1D1;
	margin:20px 0px;
	padding:2px;
}

#canvas-wrapper .toolbar .tool:hover{
	background-color: #DDD;
	cursor: pointer;
}

#main-canvas{
	position:absolute;
}

#main-canvas svg{
	/*background-color: #F3F3F3;*/
}

#zoom{
	height:200px;
	margin:5px;
}

#map-uploader{
	width:700px;
	position:absolute;
	padding:20px;
	top:30px;
	left:400px;
	background-color: #FFF;
	-moz-box-shadow: 4px 4px 9px #c6d2de;
	box-shadow: 0px 0px 120px #555;
	border:1px solid #d9e8e6;
	display:none;
}

#map-uploader-top{
	height:200px;
	margin-bottom:10px;
}

.measure{
	width:120px;
	padding:10px;
}

.measure-group{
	float:left;
	width:60px;
}

.measure label{
	font-size: 12px;
	display: block;
}

.measure input{
	width:50px;
	padding:5px;
	margin-bottom:10px;
	font-size:14px;
}

#map-uploader-top input[type="button"]{
	padding:10px 15px;
	margin:5px;
	font-size:16px;
}

#map-uploader-top #map-uploader-submit{
	background-color: #7497bc;
	color:#FFF;
	border:none;
}

#map-uploader-top #map-uploader-submit:hover{
	cursor: pointer;
	background-color: #16579a;
}

#map-uploader-canvas:hover{
	cursor: crosshair;
}

#content-wrapper{
	position: absolute;
	top:620px;
	left:430px;
	width:640px;
}

#add-furnishing{
	position:relative;
	background-color:#7497bc;
	margin-bottom:30px;
	width:600px;
	padding:20px;
}

#add-furnishing textarea{
	font-size:12px;
	width: 380px;
	height:90px;
	max-width: 400px;
	max-height: 110px;
	margin-right:20px;
	padding:10px;
	resize:none;
}

#add-furnishing #furnishing-section{
	width:170px;
	height:100px;
	float:right;
}

#add-furnishing #furnishing-section .title{
	padding:5px;
}

#add-furnishing #submit-furnishing{
	position:absolute;
	left:455px;
	top:108px;
	padding:0px 10px;
	height:30px;
}

#add-furnishing #furnishing-section input{
	display: none;
}

#prop-wrapper{
	position:absolute;
	padding:20px;
	right:50px;
	top:25px;
	width:300px;
	max-height:420px;
	background-color:#7497bc;
	display:none;
	-moz-box-shadow: 4px 4px 9px #c6d2de;
	box-shadow: 4px 4px 9px #c6d2de;
	border:1px solid #d9e8e6;
}

#prop-wrapper .prop{
	position: relative;
}

#prop-wrapper .prop-body{
	max-height: 420px;
	overflow: auto;
}

#prop-wrapper .close{
	color:#FFF;
	position: absolute;
	right:-30px;
	top:-30px;
	font-size: 16px;
	padding:5px 10px;
	background-color: #ed522e;
}

#prop-wrapper .close:hover{
	cursor:pointer;
	background-color: #e54823;
}

#prop-wrapper .propimg{
	background-image: url(/static/image/furniture/prop-background.png);
	width:220px;
	height:130px;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
}

#prop-wrapper .propimg img{
	position:absolute;
	bottom:40px;
	left:0px;
	max-width:190px;
	max-height:90px;
}

#prop-wrapper .measure{
	display: inline-block;
	width:120px;
}

#prop-wrapper .measure h2{
	margin-bottom:5px;
	font-size:18px;
}

#prop-wrapper .controls{
	padding:10px 10px;
	background-color: #5780ab;
	margin-right: 10px
}

#prop-wrapper .controls input{
	padding:5px 10px;
	font-size: 16px;
}

#prop-wrapper .pics{
	width:270px;
}

#prop-wrapper .pics .pic{
	margin:10px 0px;
	border: 1px solid #EEE;
	border-radius: 5px;
}

#prop-wrapper .pics .pic img{
	max-width: 270px;
}

#furnishings .furnishing-list{
	width:100%;
	border-collapse: collapse;
}

#furnishings .furnishing-list tr{
	background-color: #bfd6d3;
	/*background-color: #a1cbc5;*/
	border-bottom: 5px solid #d9e8e6;
}

#furnishings .furnishing-list tr[active="1"]{
	background-color: #7497bc;
}

#furnishings .furnishing-list td{
	padding:20px;
	font-size: 12px;
	color:#333;

}

#furnishings .furnishing-list td.comment{
	width:400px;
	background-color:#F7F7F7;
	color:#333;
}