#furniture-builder h1,#furniture-builder h2,#furniture-builder h3{
	font-weight: normal;
	color:#555;
}

#furniture-builder h1{
	margin:0px 0px 0px 50px;
	padding-top:30px;
	color:#FFF;
}


#furniture-builder h2{
	font-size: 22px;
	border-bottom: 1px dotted #CCC;
}

#furniture-builder h2 .hint{
	font-size: 12px;
	margin-left:20px;
}

#furniture-builder h3{
	font-size: 18px;
	background-color:#d3dee5;
	border: 1px solid #c1ced7;
	padding-left:20px;
	margin-top:30px;
}

#furniture-builder{
	width:960px;
	overflow: auto;
	background-color: #f3f3f3;
	height:650px;
	border: 1px solid #CCC;
	border-radius: 5px;
	margin:0 auto;
	position: relative;
}

#furniture-builder .top{
	height:100px;
	width:100%;
	background-color: #333;
	position: relative;
	box-shadow: 0px 100px 100px 100px #fcfcfc;
}

#furniture-builder .body{
	position: relative;
}

#furniture-builder .submit{
	position: absolute;
	right:50px;
	top:30px;
	padding:10px 15px;
	font-size: 22px;
}

#picker-wrapper{
	top:0px;
}

#furniture-picker{
	display: block !important;
}

#builder-form-wrapper{
	position:absolute;
	left:380px;
	height:450px;
	width:220px;
}

.form-measure-group #symbol-scope-wrapper{
	width:220px;
	height:130px;
	margin-top:30px;
	padding-bottom:30px;
	background-image: url(/static/image/furniture/builder/symbol-scope-background.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	position:relative;
}

.form-measure-group #symbol-scope{
	position: absolute;
	bottom:30px;
	left:0px;
	max-width:190px;
	max-height:100px;
}

.form-measure-group .form-field{
	width:105px;
	display: inline-block;
	height:30px;
	margin-top:20px;
}

.form-measure-group .form-fields-wrapper input{
	width:100px;
}

#builder-pics-wrapper{
	width:270px;
	position:absolute;
	left:660px;
	height:500px;
}

#builder-pics-wrapper .piclist{
	height:450px;
	overflow: auto;
}

#builder-pics-wrapper img{
	max-width: 250px;
	border:1px solid #DDD;
	border-radius: 5px;
}

#builder-pics-wrapper .furniture-pic{
	position: relative;
	margin:20px 0px;
}

#builder-pics-wrapper .delete-wrapper{
	position: absolute;
	top:0px;
	left:0px;
	width:250px;
	height:40px;
	background-color: #DDD;
	opacity: 0.9;
}

#builder-pics-wrapper .delete{
	float:right;
	margin-right: 10px;
	background-color: #d8421a;
	padding:5px 10px;
	color:#FFF;
	border: 1px solid #CCC;
	border-radius: 5px;
	font-size: 12px;
	margin-top:3px;
}

#builder-pics-wrapper .delete:hover{
	cursor: pointer;
	background-color: #d81d1d;
}

#furniture-builder .success-message{
	padding:30px;
}