<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>{%block title%}MASTER TITLE{%endblock%}</title>

	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-1.10.2.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/raphael-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/raphael.free_transform.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/underscore-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/svg.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.css"/>

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
	{%block head%}{%endblock%}
</head>
<body>

 <!-- NAVIGATION BAR  ==================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- mobile menu icon -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- default menu options in browser-->
        <a class="brand" href="/" style="padding:5px 20px 5px;"><img src="{{ STATIC_URL }}image/home/logo.png"></a>
        <div class="nav-collapse collapse" id="menu">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          <div id="screen"></div>
          <div id="createform-wrapper" class="navbar-form pull-right">
            {%include 'account/create.html'%}
          </div>
          <div id="login-wrapper" class="navbar-form pull-right">
            {%if user.is_authenticated%}
              {%include 'account/logged.html'%}
            {%else%}
              {%include 'account/login.html'%}
            {%endif%}
          </div>
        </div>

      </div>
    </div>  
  </div> 
  </div>


	{%block body%}{%endblock%}

	<div id="footer" class ="container">
    <p>
      © 2013 Inpica | 
      <a href="http://www.privacychoice.org/policy/mobile?policy=59c6535ef18f38575889222f12e58fa9">Privacy</a>
      
      <!--<a href="#">Terms</a>-->
    </p>
  </div>

  <script type="text/javascript">
  $(document).ready(function () {
    function stripTrailingSlash(str) {
        var n = str.lastIndexOf("/")
        if (n != -1)
        {
          return str.substr(n+1)
        }
        else
          return str
      }

    var url = window.location.pathname;
    var activePage = stripTrailingSlash(url);
    $("#menu li").removeClass('active');
    $('#menu li a').each(function(){  
    var currentPage = stripTrailingSlash($(this).attr('href'));
    if (activePage == currentPage) {
      $(this).parent().addClass('active'); 
    }
    });
    
    if (!isNaN(parseFloat(activePage)) && isFinite(activePage)){
      $('#menu ul').append('<li class="active"><a href="'+url + '">Floorplan </a></li>');
    }
  });
    /*  $('.nav li a').each(function(){  
        var currentPage = stripTrailingSlash($(this).attr('href'));

        if (activePage == currentPage) {
          $(this).parent().addClass('active'); 
        } 
      });
    });*/
  </script>
</body>
</html>